body {
    background: #d3d3d3;
    
}
p {
    color:#252525;
}
.foto-principal {
    width: 200px;
    border: 2px solid #ffffff; /* shorthand */
/*  border-radius: 50% 100% 0% 0%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
*/
    border-radius: 50%;
/*
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 500px;
    margin-right: auto;
*/
    margin: 30px 40px 50px 40px;
}

