#div {
    display: flex;
    width: 100%;
    background-color: white;
    
}

.box {
    margin-left: 10px;
    margin-right: 1px;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgb(201, 199, 199);
    width: 33%;
    margin-top: 15px;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 2px 2px;
}
